 # Ignore artifacts:
build
coverage
# asset
# old.html
# json.html

# Ignore all extension files:
# *.html
# *.js
# *.md
*.java
*.yaml
*.jpg
*.png
*.xml


# Ignore all folder con extensions
**/.git
**/.svn
**/.hg
**/.xml

# Ignore all folder:
**/node_modules
**/target
# **/test
# **/bin
**/lib
.vscode