.button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

/* Efecto de movimiento */
.button:hover {
  filter: brightness(80%);
  transition: 0.4s;
  padding-right: 24px;
  padding-left: 8px;
}

/* Efecto para description */
.button:hover:before {
  border: none;
  color: white;
  position: absolute;
  padding: 0px 35px;
  width: 400px;
  height: auto;
  word-spacing: 3px;
  text-align: left;
  text-decoration: none;
  line-height: 1.3;
  display: block;
  font-size: 18px;
  margin: 0px 280px;
  cursor: pointer;
  vertical-align: middle;
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.button.button-twitter {
  color: #ffffff;
  background-color: #1da1f2;
}

.button.button-twitter:hover,
.button.button-twitter:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-instagram {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}

.button.button-instagram:hover,
.button.button-instagram:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-linkedin {
  color: #ffffff;
  background-color: #2867b2;
}

.button.button-linkedin:hover,
.button.button-linkedin:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-github {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

.button.button-github:hover,
.button.button-github:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-twitch {
  color: #ffffff;
  background-color: #9146ff;
}

.button.button-twitch:hover,
.button.button-twitch:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-discord {
  color: #ffffff;
  background-color: #5865f2;
}

.button.button-discord:hover,
.button.button-discord:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-snapchat {
  color: #000;
  background-color: #fffc00;
  font-weight: bold;
}

.button.button-snapchat:hover,
.button.button-snapchat:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-spotify {
  color: #000;
  font-weight: bold;
  background-color: #1db954;
}

.button.button-spotify:hover,
.button.button-spotify:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-telegram {
  color: #ffffff;
  background-color: #3faee8;
}

.button.button-telegram:hover,
.button.button-telegram:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-whatsapp {
  color: #ffffff;
  background-color: #455a64;
}

.button.button-whatsapp:hover,
.button.button-whatsapp:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-steam {
  color: #ffffff;
  background-color: #171a21;
}

.button.button-steam:hover,
.button.button-steam:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-tiktok {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid white;
}

.button.button-tiktok:hover,
.button.button-tiktok:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-soundcloud {
  color: #ffffff;
  background-color: #f50;
}

.button.button-soundcloud:hover,
.button.button-soundcloud:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-miro {
  color: black;
  background-color: #ffd02e;
}

.button.button-miro:hover,
.button.button-miro:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-figma {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid white;
}

.button.button-figma:hover,
.button.button-figma:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Slack */
.button.button-slack {
  color: #ffffff;
  background-color: #7b16ff;
}

.button.button-slack:hover,
.button.button-slack:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

.button.button-facebook {
  color: #ffffff;
  background-color: #1877f2;
}

.button.button-facebook:hover,
.button.button-facebook:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

/* Kit */
.button.button-kit {
  color: #ffffff;
  background-color: #10c694;
}

.button.button-kit:hover,
.button.button-kit:hover:before {
  content: 'Aquí vas a encontrar la lista completa y actualizada de todo el hardware que uso para trabajar y hacer mis videos de YouTube.';
  white-space: initial;
}

/* YouTube */
.button.button-youtube {
  color: #ffffff;
  background-color: #ff0000;
}

.button.button-youtube:hover,
.button.button-youtube:hover:before {
  content: 'Este es mi segundo canal de YouTube, donde subo vlogs y contenido más personal :) No, no ese tipo de contenido.';
  white-space: initial;
}

/* Slides */
.button.button-slides {
  color: #ffffff;
  background-color: #212c3d;
}

.button.button-slides:hover,
.button.button-slides:hover:before {
  content: 'Mis slides de cuando doy charlas en conferencias.';
  white-space: initial;
}

/* Mercha */
.button.button-mercha {
  color: #000000;
  background-color: #fffc00;
}

.button.button-mercha:hover,
.button.button-mercha:hover:before {
  content: 'Esta es mi tienda de merchandising, puedes encontrar remeras/camisetas/poleras y otro tipo de cosas :)';
  white-space: initial;
}

/* Reddit */
.button.button-reddit {
  color: #ffffff;
  background-color: #ff4500;
}

.button.button-reddit:hover,
.button.button-reddit:hover:before {
  content: 'Mi subreddit, como un pequeño foro para hacer preguntas sobre mis videos o cualquier tema relacionado con el contenido de mi canal.';
  white-space: initial;
}

/* Mail */
.button.button-mail {
  color: #000000;
  background-color: #e8f3ec;
}

.button.button-mail:hover,
.button.button-mail:hover:before {
  content: 'Haciendo click aquí, puedes enviarme un mail, puedo tardar en responder!';
  white-space: initial;
}

/* Ko-Fi */
.button.button-kofi {
  color: #ffffff;
  background-color: #ff5500;
}

.button.button-kofi:hover,
.button.button-kofi:hover:before {
  content: 'Si quieres, puedes comprarme un cafecito usando este link.';
  white-space: initial;
}

/* Mercha */
.button.button-sponsors {
  color: #000000;
  background-color: #fffc00;
}

.button.button-sponsors:hover,
.button.button-sponsors:hover:before {
  content: 'Si quieres trabajar conmigo, patrocinando algún video en mi canal, te recomiendo que leas esta página primero.';
  white-space: initial;
}

/* Default */
.button.button-default {
  color: #ffffff;
  background-color: #2457f5;
  border: 1px solid #ffffff;
}

/* Amazon */
.button-amazon {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}

.button-amazon.button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}

/* Amazon Music */
.button-amazon-music:hover,
.button-amazon-music:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

/* Apple App Store */
.button-appstore:hover,
.button-appstore:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

/* Apple Invites */
.button-invites:hover,
.button-invites:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

/* Apple Music */
.button-apple-music:hover,
.button-apple-music:hover:before {
  content: 'En esta comunidad, vas a poder conectarte para charlar con otros Pelades sobre temas de tecnologías como las que hablo en el canal, y consultar dudas y ayudar a los demás!';
  white-space: initial;
}

/* Amazon Music */
.button-amazon-music {
  color: #000000;
  background-color: #25d1da;
}

/* Apple App Store */
.button-appstore {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Apple Invites */
.button-invites {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Apple Music */
.button-apple-music {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Apple Music Alt */
.button-apple-music-alt {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #fb5c74, #fa233b);
}

/* Apple Podcasts */
.button-apple-podcasts {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Apple Podcasts Alt */
.button-apple-podcasts-alt {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #f452ff, #832bc1);
}

/* Bandcamp */
.button-bandcamp {
  color: #ffffff;
  background-color: #1d9fc3;
}

/* Behance */
.button-behance {
  color: #ffffff;
  background-color: #0057ff;
  border: 1px solid #ffffff;
}

/* Bluesky */
.button-bluesky {
  color: #ffffff;
  background-color: #1185fe;
}

/* Bluesky Alt */
.button-bluesky-alt {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

/* Buy Me a Coffee */
.button-coffee {
  color: #000000;
  background-color: #ffdd00;
}

/* Cal.com */
.button-cal {
  color: #ffffff;
  background-color: #292929;
  border: 1px solid #ffffff;
}

/* Calendly */
.button-calendly {
  color: #ffffff;
  background-color: #006bff;
}

/* Cash App */
.button-cash-app {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #00d64b, #00c244);
}

/* dev.to */
.button-dev-to {
  color: #000000;
  background-color: #f5f5f5;
  border: 1px solid #212121;
}

/* Discogs */
.button-discogs {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

/* Discogs Alt */
.button-discogs-alt {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Discord */
.button-discord {
  color: #ffffff;
  background-color: #5865f2;
}

/* Dribbble */
.button-dribbble {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}

/* Etsy */
.button-etsy {
  color: #ffffff;
  background-color: #f45800;
}

/* Facebook */
.button-faceb {
  color: #ffffff;
  background-color: #0866ff;
}

/* Facebook Messenger */
.button-messenger {
  color: #ffffff;
  background-color: #0866ff;
}

/* Figma */
.button-figma {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Fiverr */
.button-fiverr {
  color: #ffffff;
  background-color: #1dbf73;
}

/* Flickr */
.button-flickr {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* GitHub */
.button-github {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* GitLab */
.button-gitlab {
  color: #ffffff;
  background-color: #6151b2;
}

/* GoFundMe */
.button-gofundme {
  color: #ffffff;
  background-color: #02a95c;
}

/* Goodreads */
.button-goodreads {
  color: #333333;
  background-color: #f3f1e6;
  border: 1px solid #212121;
}

/* Google Black */
.button-google-black {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Google Play Store */
.button-playstore {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Google Scholar */
.button-google-scholar {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}

/* Hashnode */
.button-hashnode {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}

/* Instagram */
.button-instagram {
  color: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}

/* Kick */
.button-kick {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Kick Alt */
.button-kick-alt {
  color: #000000;
  background-color: #01e701;
}

/* Kickstarter */
.button-kickstarter {
  color: #ffffff;
  background-color: #05ce78;
}

/* Kit */
.button-kit {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Ko-fi */
.button-ko-fi {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Last.fm */
.button-last-fm {
  color: #ffffff;
  background-color: #d51007;
}

/* Letterboxd */
.button-letterboxd {
  color: #ffffff;
  background-color: #2c3440;
  border: 1px solid #ffffff;
}

/* Line */
.button-line {
  color: #ffffff;
  background-color: #06c755;
}

/* LinkedIn */
.button-linked {
  color: #ffffff;
  background-color: #2867b2;
}

/* Mailchimp */
.button-mailchimp {
  color: #000000;
  background-color: #ffe01b;
}

/* Mastodon */
.button-mastodon {
  color: #ffffff;
  background-color: #17063b;
  border: 1px solid #ffffff;
}

/* Matrix */
.button-matrix {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

/* Medium */
.button-medium {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Microsoft */
.button-microsoft {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Notion */
.button-notion {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}

/* Obsidian */
.button.button-obsidian {
  color: #ffffff;
  background-color: #262626;
  border: 1px solid #ffffff;
}

/* OnlyFans */
.button-onlyfans {
  color: #ffffff;
  background-color: #00aeef;
}

/* Patreon */
.button-patreon {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Patreon */
.button-read-cv {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* PayPal */
.button-paypal {
  color: #ffffff;
  background-color: #002991;
  border: 1px solid #ffffff;
}

/* Pinterest */
.button-pinterest {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}

/* Product Hunt */
.button-product-hunt {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}

/* Reddit */
.button-reddit {
  color: #ffffff;
  background-color: #ff4500;
}

/* Shop */
.button-shop {
  color: #ffffff;
  background-color: #5a31f4;
}

/* Signal */
.button-signal {
  color: #ffffff;
  background-color: #3a76f0;
}

/* Slack */
.button-slack {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}

/* Snapchat */
.button-snapchat {
  color: #000000;
  background-color: #fffc00;
}

/* SoundCloud */
.button-soundcloud {
  color: #ffffff;
  background-color: #ff5500;
}

/* Spotify */
.button-spotify {
  color: #191414;
  background-color: #1db954;
}

/* Spotify Alt */
.button-spotify-alt {
  color: #ffffff;
  background-color: #191414;
  border: 1px solid #ffffff;
}

/* Square */
.button-square {
  color: #ffffff;
  background-color: #006aff;
}

/* Stack Overflow */
.button-stack-overflow {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

/* Steam */
.button-steam {
  color: #ffffff;
  background-image: linear-gradient(90deg, #08bbff, #2b75ff);
}

/* Steam Alt */
.button-steam-alt {
  color: #ffffff;
  background-image: linear-gradient(90deg, #09172a, #072a57, #0c5085);
  border: 1px solid #ffffff;
}

/* Strava */
.button-strava {
  color: #ffffff;
  background-color: #fc5200;
}

/* Substack */
.button-substack {
  color: #ffffff;
  background-color: #ff6719;
}

/* Telegram */
.button-telegram {
  color: #ffffff;
  background-color: #3faee8;
}

/* Threads */
.button-threads {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Threema */
.button-threema {
  color: #000000;
  background-color: #3fe669;
}

/* TikTok */
.button-tiktok {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* Trello */
.button-trello {
  color: #ffffff;
  background-color: #0065ff;
}

/* Tumblr */
.button-tumb {
  color: #ffffff;
  background-color: #131313;
  border: 1px solid #ffffff;
}

/* Twitch */
.button-twitch {
  color: #ffffff;
  background-color: #9146ff;
}

/* Unsplash */
.button-unsplash {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #212121;
}

/* Venmo */
.button-venmo {
  color: #ffffff;
  background-color: #008cff;
}

/* Vimeo */
.button-vimeo {
  color: #ffffff;
  background-color: #1ab7ea;
}

/* VSCO */
.button-vsco {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* WhatsApp */
.button-whatsapp {
  color: #ffffff;
  background-color: #455a64;
}

/* WordPress */
.button-wordpress {
  color: #ffffff;
  background-color: #3858e9;
}

/* X */
.button-x {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #ffffff;
}

/* YouTube */
.button-yt {
  color: #ffffff;
  background-color: #282828;
  border: 1px solid #ffffff;
}

/* YouTube Alt */
.button-yt-alt {
  color: #ffffff;
  background-color: #ff0000;
}

/* Zoom */
.button-zoom {
  color: #ffffff;
  background-color: #0b5cff;
  border: 1px solid #ffffff;
}