img.avatar {
  border: 2px solid white;
  border-radius: 50%;
}

a.small {
  background: #1da1f2;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  height: 48px;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.acuity-embed-button-local {
  background: #3177ca;
  padding: 8px 12px;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  height: 48px;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #0a66c2;
}

.acuity-embed-button-local:hover,
.acuity-embed-button-local:hover:before {
  content: "Aquí puedes contratar una consultoría conmigo, para consultarme sobre algún proyecto en el que estés trabajando, podés encontrar mas info en el link.";
  white-space: initial;
}

.acuity-embed-button-local:focus {
  filter: brightness(90%);
  color: inherit;
}

a {
  /* color: #2457F5 !important; */
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  color: inherit;
  filter: brightness(90%);
}

footer {
  text-align: center;
  padding: 3px;
  color: white;
  font-size: 12px;
}